
/* Global styles based on https://www.joshwcomeau.com/css/custom-css-reset/ */

 
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  color: var(--foreground);
  background-color: var(--background);
}

body {
  font-family: 'VerdanaLocal', sans-serif;
  width: min(1200px, 90dvw);
  margin: auto;
  height: 100dvh
}

/* Fonts */
@font-face {
  font-family: 'VerdanaLocal';
  src: local(Verdana);
  size-adjust: 90%;
  ascent-override: 93%;
  descent-override: 18%;
  line-gap-override: normal;
}